html, body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  overflow: hidden;
}

h1 {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
  text-align: center;
  margin: 20px 0 10px;
}

#ui {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto 10px;
  padding: 0 20px;
  font-size: 18px;
}

#ranking {
  color: #ff66cc;
  text-align: left;
}

#score {
  color: #00ffff;
  transition: transform 0.2s ease;
}

#canvasWrapper {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

#gameCanvas {
  display: none;
  background: #000;
  border: 2px solid #fff;
  width: 100%;
  height: 500px;
}


#startBtn, #retryBtn {
  display: block;
  margin: 20px auto;
  padding: 14px 28px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background: #ff66cc;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 15px #ff66cc;
}

#retryBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 14px 28px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background: #ff66cc;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 15px #ff66cc;
  z-index: 10;
}
